body { background-color:#eeeeee;
    color: rgb(255, 255, 255);
    margin: 0px;
    }
    

    .nav_bar ul { background-color: #b38888;
        font-family:Arial, Helvetica, sans-serif;
        list-style-type: none;
       padding: 0%;
       margin: 0px;
       overflow: hidden;
      position: fixed;    
    }

    .nav_bar a{
        color: black;
        text-decoration: none;
        padding: 15px;
        display: block;
        text-align: center;
        
    }

    .nav_bar a:hover{
        background-color: #6b4c4c;
        
    }
    
    .nav_bar li{
        float: left;
    }

    .text{
        text-align: center;
    }
    
    .me {color: rgb(0, 0, 0);
        font-family: Helvetica;
        text-align: center;
    }
    
    .carre {display: flex;
        justify-content:center; 
        align-items:center;}
    
    .positioned {width  : 300px;
        height : 200px;
        background : rgb(212, 212, 212);
        position: relative;
        top: 100px;
        left: -200px;
    }   
    
    .carre2exp {width  : 300px;
        height : 200px;
        background : rgb(212, 212, 212);
        position: relative;
        top: -115px;
        left: 200px;
    }   
